Source: munin-plugins-mendix
Section: net
Priority: optional
Maintainer: Pim van den Berg <pim.van.den.berg@mendix.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Vcs-Git: git://github.com/mendix/munin-plugins-mendix.git

Package: munin-plugins-mendix
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, munin-node
Breaks: python-m2ee (<< 0.5.11~)
Suggests: python-m2ee (>= 0.5.11~), python-mx-btrfs
Description: Plugins for Munin
 This package provides various plugins for Munin.
